html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    background-color: lightgray;
    height: 100%;
}

.container {
    width: fit-content;
    /*border: 2px solid #fff;*/
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 20px;
    background-color: rgb(229, 229, 229);
    transition: all 0.3s ease 0s;
    opacity: 0.8;
}

.content:hover {
    border-radius: 20px;
    transform: scale(1.13);
    transition: all 0.3s ease 0s;
}

.telefonok {
    width: 100%;
    box-sizing: border-box;

}

.telefon {
    margin: 15px 35px 0 35px;
    border-radius: 20px;
    background: linear-gradient(90deg, darkgrey, lightgray);
    float: left;
    width: 60vh;
    height: auto;
    padding-bottom: 15px;
    border: 1px solid black;
    text-align: center;
    font-size: 15pt;
    box-sizing: border-box;
}

.topnav {
    margin: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    text-decoration: underline darkgrey;
    color: white;
}

.topnav a.active {
    text-decoration: underline darkgrey;
    background-color: darkgrey;
    color: black;
}

table {
    background: linear-gradient(90deg, darkgrey, lightgray);
}

table,
tr,
td {
    border-bottom: 2px solid black;
    text-align: justify;
    font-size: 15pt;
    padding-bottom: 5px;
    border-collapse: collapse;
    color: black;
    font-weight: bold;
}

td:nth-child(2){
    text-align: center;
}

th {
    text-align: center;
    font-size: 18pt;
    padding-bottom: 30px;
    text-decoration: underline;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.slidein {
    float: none;
    animation-duration: 4s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        opacity: 0;
        margin-bottom: 15%;
    }
    to {
        opacity: 0.8;
        margin-bottom: 0;
    }
}

.slidein-left {
    float: none;
    animation-duration: 4s;
    animation-name: slidein-left;
}

@keyframes slidein-left {
    from {
        opacity: 0;
        margin-left: -30%;
    }
    to {
        opacity: 1;
        margin-left: -15%;
    }
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: -25px;
    height: 40px;
    width: 100%;
    overflow: hidden;
    text-align: right;
    box-sizing: border-box;
}

.img_margin {
    margin: 20px;
    height: 300px;
}

.main {
    position: absolute;
    display: block;
    margin: 0 0 0 -15%;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -1;
}