body {
    margin: 0;
    background-color: lightgray;
}

.container {
    width: fit-content;
    /*border: 2px solid #fff;*/
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 20px;
    border: 1px solid #333;
    transition: all 0.3s ease 0s;
}

.content:hover {
    border-radius: 20px;
    border-color: #333;
    transform: scale(1.15);
    transition: all 0.3s ease 0s;
}

.telefonok {
    width: 100%;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.telefon {
    border-radius: 25px;
    background-color: darkgray;
    float: left;
    width: 60vh;
    height: 100vh;
    margin: 15px;
    border: 2px solid black;
    text-align: center;
    font-size: 15pt;
}

.topnav {
    margin: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: darkgray;
    color: black;
}

.topnav a.active {
    background-color: lightgray;
    color: black;
}

table,
tr,
td {
    background-color: darkgray;
    border-bottom: 2px solid black;
    text-align: justify;
    font-size: 15pt;
    padding-bottom: 4px;
    border-collapse: collapse;
    color: black;
    font-weight: bold;
}

th {
    text-align: center;
    font-size: 18pt;
    padding-bottom: 30px;
    text-decoration: underline;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.slidein {
    float: none;
    animation-duration: 4s;
    animation-name: slidein;
}

@keyframes slidein {
    0% {
        opacity: 0;
        margin-bottom: 15%;
    }
    100% {
        opacity: 1;
        margin-bottom: 0%;
    }
}

footer {
    font-size: 11pt;
    text-align: right;
}

.img_margin {
    margin: 20px;
    height: 300px;
}

.video {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding-top: 20px;
}

iframe {
    border-radius: 25px;
    border-width: 5px;
    border-color: gray;
}